*{
    font-family: "Segoe UI";
}
.logo img{
width: 230px;
}
nav{
display: flex;
justify-content: space-around;
align-items:center;
font-family: "Segoe UI";
font-size: 16px;
}
.right ul li{
list-style: none;
display: flex;
        align-items: center;
        cursor: pointer;
}
.right ul{
display: flex;
gap: 15px;
}
svg{
height: 20px;
width: 20px;
}
.right ul li span{
padding: 1px 10px;
}
.right ul li img{
padding: 0px 20px;
}
.bigtxt{
display: flex;
justify-content: center;
align-content: center;
font-size: 48px;
margin: 12px 0px ;
}
.smltxt{
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.Dowload{
background-color: rgb(0, 182, 209);
height: 34px;
border: 1px none;
border-radius: 15px;
padding: 12px 20px;
color: white;
font-size: 24px;
font-weight: bold;
}
.Dowload:hover{
    background-color: rgb(0, 137, 158);
}
.Dowload a{
    text-decoration: none;
    color: white;
}
.dwldbox{
display: flex;
justify-content: center;
cursor: pointer;
}
.heading{
    display: flex;
    justify-content:center;
    margin: 50px 0px;
    align-items: center;
}
.heading h5{
    padding: 0px 10px;
}
.heading div img{
height: 67px;
padding: 0px 26px;
}
.container{
    display: grid;
    grid-template-rows: repeat(4,236px);
    grid-template-columns: repeat(3,1fr);
    font-family: "Segoe UI";
    justify-content: center;
    border: 1px none;
    margin: 0px 50px;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.d32{
    border: 1px none ;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(11, 207, 255);
    margin: 0px 10px 0px 0px;
}
.d64{
    border: 1px none;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(120, 186, 119);
}
.items span a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.dwld{
    margin: 30px 0px;
}
.maintxt{
    font-size: 30px;
    font-weight: 700;
}
.comtxt{
    margin: 0px;
    padding: 0px;
}
.dwld .d32:hover{
    background-color: rgb(6, 121, 138);
}
.dwld .d64:hover{
    background-color: rgb(153, 237, 152);
}
.joincontain{
    border: 1px none;
    width: 97vw;
    height: auto;
    background-color: rgb(34, 34, 34);
    display: grid;  
    /*grid-template-rows: 1fr 1fr ;
    align-items: center;
    justify-items: center; */
    justify-items: center;
    align-items: center;
    grid-template-areas: "info sub"
                        "ques ques" ;
border-radius: 15px;
grid-gap: 0px;
padding: 9px;
}
.joininfo{
    color: white;
    font-size: 20px;
    grid-area: info;
}
.smoltxt{
    width: 36vw;
}
.form{
    border: 2px solid black;
    width: fit-content;
    padding: 40px;
    border-radius: 25px;
    background-color: white;
    grid-area: sub;
}
.form h3{
    color:rgb(0, 182, 209);
}
.form .email{
    margin: 10px 10px;
}
.sub{
    font-size: 2em;
    font-weight: 600;
}
input{
    width: 22em;
    height: 4em;
    margin: 1em 0px;
}
.ques{
    color: white;
    grid-area: ques;
    font-size: 1.5em;
}
.bottom{
display: grid;
 grid-template-areas: "lang usr gen subs"
            "lang usr gen subs";
            gap: 4em;
            justify-content: center;

 } 
.language{
    grid-area: lang;
}
.user{
    grid-area: usr;
}
.gen{
    grid-area: gen;
}
.formss{
    grid-area: subs
}
.font{
    font-size: 0.8em;
}
.font li{
    cursor: pointer;
    list-style: none;
}
button{
    height: 2em;
    width: 10em;
    font-size: 25px;
    font-weight: 700;
    background-color: cyan;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
}
.botbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right svg{
    height: 2em;
    width: auto;
    margin: 0px 5px;
}
svg:hover{
    cursor: pointer;
    background-color: rgba(187, 172, 172, 0.719);
    height: 2.2em;
}

@media only screen and (max-width:20px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .logo img{
        width: 100px;
        padding: 10px 1px;
        }
        nav{
        display: flex;
        justify-content: flex-end;
        align-items:center;
        font-family: "Segoe UI";
        font-size: 12px;
        }
        .right ul li{
        list-style: none;
        display: flex;
                align-items: center;
                cursor: pointer;
        }
        .right ul li span{
            padding: 0px 0px;

            }
        .right ul{
        display: flex;
        }

        svg{
        height: 0px;
        width: 0px;
        }
        .right ul li img{
        padding: 0px 0px;
        height: 22px;
        width: auto;
        }
        .bigtxt{
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: 30px;
            margin: 22px 0px ;
            }
            .smltxt{
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            }
            .Dowload{
            background-color: rgb(0, 182, 209);
            height: 24px;
            border: 1px none;
            border-radius: 15px;
            padding: 15px 10px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            margin: 15px 0px;
            }
            .Dowload:hover{
                background-color: rgb(0, 137, 158);
            }
            .Dowload a{
                text-decoration: none;
                color: white;
            }
            .dwldbox{
            display: flex;
            justify-content: center;
            cursor: pointer;
            }
            .heading{
                display: flex;
                justify-content:center;
                margin: 50px 0px;
                align-items: center;
                font-size: 14px;
            }
            .heading h5{
                padding: 0px 10px;
            }
            .heading div img{
            height: 46px;
            padding: 0px 26px;
            }
        .container{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            font-family: "Segoe UI";
            justify-content: center;
            border: 1px none;
            margin: 0px 50px;
            align-items: center;
            text-align: center;
            gap: 1px;
        }
        .d32{
            border: 1px none ;
            padding: 8px;
            border-radius: 10px;
            background-color: rgb(11, 207, 255);
            margin: 0px 10px 0px 0px;
        }
        .d64{
            border: 1px none;
            padding: 2%;
            border-radius: 10px;
            background-color: rgb(120, 186, 119);
        }
        .items span a{
            text-decoration: none;
            color: white;
            font-weight: 600;
            font-size: 12px;
        }
        .dwld{
            margin: 30px 0px;
        }
        .maintxt{
            font-size: 20px;
            font-weight: 700;
        }
        .comtxt{
            margin: 0px;
            padding: 0px;
        }
        .dwld .d32:hover{
            background-color: rgb(6, 121, 138);
        }
        .dwld .d64:hover{
            background-color: rgb(153, 237, 152);
        }
}